body {
    background-image: url("images/bg.gif"); /* The image used */
    background-color:  #002060;; /* Used if the image is unavailable */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    /* #EE7D31 (orange) #002060 dark blue
     #2D75B6 light blue
    this is the root font size in 'rem' in nav ul li below */
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    /* remove all padding, nav has own padding */
    padding: 0px;
    margin: 0px;
}

/************************ HEAD *************************/
.head-wrapper {
    display: inline-block;
    padding: 20px;
    background: rgb(45,117,182);
    background: linear-gradient(95deg, rgba(45,117,182,1) 0%, rgba(238,125,49,1) 100%, rgba(45,117,182,1) 100%);
}
.logo {
    padding-top: 5px;
    padding-bottom: 10px;
    border-bottom: 1px solid white;
}
.nav {
    color: white;
}
.nav ul {
    /* nav has own padding, want to remove it and the bullets */
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    /* hack for @media > 700px below */
    font-size: 0px;
}
.nav ul li {
    /* want padding here */
    padding: 16px;
    text-align: center;
    /* size relative to font size set in body */
    font-size: 1rem;
    border-bottom: 1px solid white;
    transition: background-color 0.5s;
}
.nav ul li a {
    text-decoration: none;
    color: white;
}
.nav ul li:hover {
    /* want padding here */
    padding: 16px;
    background-color: #2D75B6;
    color: white;
    cursor: pointer;
}

.totop a {
    text-align: center;
    text-decoration: none;
    color: white;
}
.totop a:hover {
    color: white;
    cursor: pointer;
}

/************************ SERVICES *************************/
/*https://css-tricks.com/negative-margins/*/
.module-wrapper {
    display: inline;
}
.module {
    padding: 1rem;
    margin: 1rem;
    background: white;
    width: 80%;
}
.module h2 {
    background: #2D75B6;
    color: white;
    margin: -1rem -1rem 1rem -1rem;
    padding: 0.5rem;
    font-size: 0.8rem;
}
.module li {
    font-size: 0.8rem;
}
.module :last-child {
    margin-bottom: 0;
}

/************************ VERTICAL SPACE *************************/
.vertical-space {
    height: 50px;
}

/************************ SLOGAN *************************/
.slogan-space {
    display: flex;
}
.slogan-line {
    height: 2px;
    width: 20%;
    margin-top: 65px;
    background-color: white;
}
.slogan-text {
    color: white;
    font-size: 1.5rem;
    text-align: center;
    border-color: white;
    border-style: inset;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 60%;
}

/************************ SERVICES *************************/

/************************ CONTACT *************************/
.contact {
    text-align: center;
    background-color: #002060;
    color: white;
    font-size: 1rem;
}

@media screen and (min-width: 700px) {
    /* rules for screen wider than 700 */
    .head-wrapper {
        display: flex;
        padding: 0px;
        padding-right: 5px;
        background: rgb(45,117,182);
        background: linear-gradient(95deg, rgba(45,117,182,1) 0%, rgba(238,125,49,1) 100%, rgba(45,117,182,1) 100%);
    }
    .logo {
        padding-left: 5px;
        padding-top: 5px;
        padding-bottom: 0px;
        border-bottom: 0px;
    }
    .nav {
        flex: 1;
        color: white;
    }
    .nav ul {
        text-align: right;
    }
    .nav ul li {
        display: inline-block;
        border-bottom: 0px;
        text-align: left;
    }

    .module-wrapper {
        display: flex;
    }

    .module {
        width: 30%;
    }

}
